@mixin dark-theme {
	--c-text: hsl(var(--hue-theme) 25% 96%);
	--c-text-1: hsl(var(--hue-theme) 18% 90%);
	--c-text-2: hsl(var(--hue-theme) 14% 72%);
	--c-text-3: hsl(var(--hue-theme) 12% 56%);
	--c-bg: hsl(214deg 24% 8%);
	--c-bg-1: hsl(212deg 22% 10%);
	--c-bg-2: hsl(212deg 18% 14%);
	--c-bg-3: hsl(212deg 18% 18%);
	--c-bg-soft: hsl(190deg 100% 75% / 12%);
	--c-border: hsl(213deg 16% 24%);
	--c-bg-a50: hsl(214deg 24% 8% / 50%);
	--c-bg-a80: hsl(214deg 24% 8% / 80%);
	--c-primary: hsl(191deg 84% 69%);
	--c-primary-soft: hsl(191deg 84% 62% / 20%);
	--c-accent: hsl(24deg 94% 68%);
	--ld-bg-blur: var(--c-bg-a80);
	--ld-bg-card: var(--c-bg-3);
	--ld-bg-active: var(--c-primary-soft);
	--ld-shadow: hsl(214deg 30% 2% / 40%);
}

:root,
.light {
	--hue-theme: 208deg;
	--c-text: hsl(214deg 34% 16%);
	--c-text-1: hsl(214deg 28% 22%);
	--c-text-2: hsl(214deg 16% 40%);
	--c-text-3: hsl(214deg 13% 58%);
	--c-bg: hsl(36deg 40% 99%);
	--c-bg-1: hsl(36deg 32% 97%);
	--c-bg-2: hsl(210deg 25% 94%);
	--c-bg-3: hsl(210deg 20% 91%);
	--c-bg-soft: hsl(200deg 70% 35% / 8%);
	--c-border: hsl(210deg 18% 87%);
	--c-bg-a50: hsl(36deg 40% 99% / 50%);
	--c-bg-a80: hsl(36deg 40% 99% / 80%);
	--c-primary: hsl(198deg 86% 40%);
	--c-primary-soft: hsl(198deg 86% 44% / 14%);
	--c-accent: hsl(22deg 90% 60%);
	--ld-bg-blur: var(--c-bg-1);
	--ld-bg-card: hsl(0deg 0% 100% / 82%);
	--ld-bg-active: hsl(0deg 0% 100% / 55%);
	--ld-shadow: hsl(214deg 35% 30% / 8%);
	--c-success: #4d9a6e;
	--c-success-soft: #4d9a6e33;
	--c-warning: #d37b39;
	--c-warning-soft: #d37b3933;
	--c-error: #cc5b5b;
	--c-error-soft: #cc5b5b33;

	color-scheme: only light;
}

.dark {
	@include dark-theme;

	color-scheme: dark;
}
