:root {
	--font-basic: "HarmonyOS Sans SC", "PingFang SC", "Noto Sans SC", "Inter", system-ui, sans-serif;
	--font-heading: "HarmonyOS Sans SC", "PingFang SC", "Noto Sans SC", "Inter", sans-serif;
	--font-serif: /* Windows */ "Noto Serif SC-Local", "Noto Serif SC", serif;
	--font-display: "AlimamaFangYuanTi", "HarmonyOS Sans SC", "Noto Sans SC", sans-serif;
	--font-creative: var(--font-heading);
	--font-stroke-free: var(--font-heading);
	--font-monospace: "Ubuntu Mono", monospace;

	@media (max-resolution: 1.2dppx) {
		--font-basic: "HarmonyOS Sans SC", "PingFang SC", "Noto Sans SC", "Inter", system-ui, sans-serif;
	}
}

@font-face {
	font-family: AlimamaFangYuanTi;
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/AlimamaFangYuanTi.woff2") format("woff2");
	font-display: swap;
}

/* autoprefixer: ignore next */
// 仅在 Chrome 130+ 启用本地可变字体
@supports (box-decoration-break: clone) {
	@font-face {
		font-family: "Noto Serif SC-Local";
		font-weight: 100 900;
		src: local("Noto Serif SC");
	}
}
